services:
  mongodb:
    container_name: mongodb-wichat_en1c
    image: mongo
    profiles: ["dev", "prod"]
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - mynetwork

  authservice:
    container_name: authservice-wichat_en1c
    image: ghcr.io/arquisoft/wichat_en1c/authservice:latest
    profiles: ["dev", "prod"]
    build: ./authservice
    depends_on:
      - mongodb
    ports:
      - "8002:8002"
    networks:
      - mynetwork
    environment:
      NODE_ENV: production
      CRYPT_SECRET: ${CRYPT_SECRET}
      JWT_SECRET: ${JWT_SECRET}
      PORT: 8002
      MONGODB_URI: mongodb://mongodb:27017/userdb

  statservice:
    container_name: statservice-wichat_en1c
    image: ghcr.io/arquisoft/wichat_en1c/statservice:latest
    profiles: ["dev", "prod"]
    build: ./statservice
    depends_on:
      - mongodb
    ports:
      - "8003:8003"
    networks:
      - mynetwork
    environment:
      NODE_ENV: production
      PORT: 8003
      MONGODB_URI: mongodb://mongodb:27017/userdb

  llmservice:
    container_name: llmservice-wichat_en1c
    image: ghcr.io/arquisoft/wichat_en1c/llmservice:latest
    profiles: ["dev", "prod"]
    build:
      context: ./llmservice
    ports:
      - "8005:8005"
    networks:
      - mynetwork
    environment:
      NODE_ENV: production
      LLM_API_KEY: ${LLM_API_KEY}

  gatewayservice:
    container_name: gatewayservice-wichat_en1c
    image: ghcr.io/arquisoft/wichat_en1c/gatewayservice:latest
    profiles: ["dev", "prod"]
    build: ./gatewayservice
    depends_on:
      - authservice
      - gameservice
      - questionservice
      - statservice
    ports:
      - "8000:8000"
    networks:
      - mynetwork
    environment:
      NODE_ENV: production
      PORT: 8000
      GAME_SERVICE_URL: http://gameservice:8001
      AUTH_SERVICE_URL: http://authservice:8002
      STATS_SERVICE_URL: http://statservice:8003
      QUESTIONS_SERVICE_URL: http://questionservice:8004

  webapp:
    container_name: webapp-wichat_en1c
    image: ghcr.io/arquisoft/wichat_en1c/webapp:latest
    profiles: ["dev", "prod"]
    build: ./webapp
    depends_on:
      - gatewayservice
    ports:
      - "3000:3000"

  gameservice:
    container_name: gameservice-wichat_en1c
    image: ghcr.io/arquisoft/wichat_en1c/gameservice:latest
    build: ./gameservice
    profiles: ["dev", "prod"]
    ports:
      - "8001:8001"
    networks:
      - mynetwork
    depends_on:
      - questionservice
      - statservice
    environment:
      NODE_ENV: production
      QUESTIONS_SERVICE_URL: http://questionservice:8004

  questionservice:
    container_name: questionservice-wichat_en1c
    image: ghcr.io/arquisoft/wichat_en1c/questionservice:latest
    build: ./questionservice
    profiles: ["dev", "prod"]
    ports:
      - "8004:8004"
    networks:
      - mynetwork
    depends_on:
      - llmservice
    environment:
      NODE_ENV: production

  prometheus:
    image: prom/prometheus
    container_name: prometheus-wichat_en1c
    profiles: ["dev"]
    networks:
      - mynetwork
    volumes:
      - ./gatewayservice/monitoring/prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - gatewayservice

  grafana:
    image: grafana/grafana
    container_name: grafana-wichat_en1c
    profiles: ["dev"]
    networks:
      - mynetwork
    volumes:
      - grafana_data:/var/lib/grafana
      - ./gatewayservice/monitoring/grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SERVER_HTTP_PORT=9091
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    ports:
      - "9091:9091"
    depends_on:
      - prometheus

volumes:
  mongodb_data:
  prometheus_data:
  grafana_data:

networks:
  mynetwork:
    driver: bridge
